.primary {
    color: orange;
}

.secondary {
    color: rgb(209, 5, 5);
}

.font-first {

    font-size: 80px;
}

.box {
    border-color: black;
    border-style: dotted;
    border-width: 2px;
    margin: 20px;
    padding: 100px;
}

.errorB{
    color: red;
}